<div class="row mt-2 mb-2 justify-content-between comment">
  <div class="col-8">
    <p class="text-muted"><%= comment.commenter %></p>
  </div>
  <div class="col-4">
    <p class="text-muted comment-date"><%= display_date(comment) %></p>
  </div>
  <div class="col-12">
    <p><%= comment.body %></p>
  </div>
</div>
