<%= form_with(model: [ question, question.question_comments.build ], local: true, class: "question_comment-form row", id: "question_comment_form") do |form| %>
    <div class="col-12">
      <%= form.text_area :body, placeholder: 'Comment' %>
    </div>
    <div class="col-7 col-sm-7">
      <%= form.text_field :commenter, placeholder: 'name', class: "commenter-input" %>
    </div>
    <div class="col-5 col-sm-5 add-comment-container">
      <%= form.submit "Add Comment" %>
    </div>
<% end %>
