<%= render 'nav' %>

<div class="container-fluid pb-2 mt-4 mb-2">
  <h1 class="text-center">
    <span class="burger-icon-title">
      <%= burger() %>
    </span>
    Hog's Burger Blog
    <span class="burger-icon-title">
      <%= burger() %>
    </span>
  </h1>
</div>

<% @posts.each_with_index do |post, i| %>
  <%= render 'post', post: post %>
<% end %>
