// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-image, .post-details {
  display: flex;
}

.post-details {
  flex-direction: column;
  margin-top: 1rem;
}

.post-rating {
  margin-left: 0;
}

@include media-breakpoint-up(sm) {
  .post-image, .post-details {
    margin-top: 0;
  }

  .post-title {
    margin-top: -0.5rem;
  }

  .post-rating {
    margin-left: 0;
  }

  .post-image {
    margin-bottom: 1.5rem;
  }
}
