// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button.toggle-question_comments-button > span {
  @extend .glyphicon;
  position: relative;
  margin-left: 2px;
}

button.toggle-question_comments-button[aria-expanded="false"] > span {
  @extend .glyphicon-chevron-down;
  top: 4px;
  left: -3px;
}

button.toggle-question_comments-button[aria-expanded="true"] > span {
  @extend .glyphicon-chevron-up;
  top: 1px;
  left: -2px;
}

.toggle-question_comments-button, #question_comment_form input, #question_comment_form textarea {
  background-color: white;
  border: 1px solid;
	padding: 8px 10px;
	border-radius: 5px;
	outline: 0;
  font-size: small;
}

#question_comment_form textarea {
  width: 100%;
	max-width: 690px;
}

.toggle-question_comments-button, #question_comment_form input[type="submit"] {
	cursor: pointer;
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

.toggle-question_comments-button, #question_comment_form input[type="submit"]:hover {
	border: 1px solid #bbb;
}

#question_comment_form input[type="submit"]:active, .toggle-question_comments-button {
	border: 1px solid;
}

#question_comment_form div {
	margin-bottom: 8px;
}

button:focus {
  outline: none;
}

.question_comment {
  border-bottom: 2px solid #dee2e6; 
}

.question_comment-date {
  text-align: right;
  font-size: x-small;
}

.question_commenter-input {
  width: 100%;
  max-width: 700px;
}

.add-question_comment-container {
  display: flex;
  justify-content: flex-end;
}

.question_comment-form {
  justify-content: space-between;
}

@include media-breakpoint-up(md) {
  .question_comment-date {
    font-size: small;
  }

  .toggle-question_comments-button, #question_comment_form input, #question_comment_form textarea {
    font-size: medium;
  }
}

@include media-breakpoint-up(lg) {
  .question_comment-form, .add-question_comment-container {
    justify-content: flex-start;
  }
}

