// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post:nth-of-type(even) {
  background-color: rgba(0, 153, 204, 0.2);
}

.post:nth-of-type(odd) {
  background-color: rgba(51, 102, 0, 0.2);
}

.post-image, .post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger-title {
  display: none;
}

.post-details {
  margin-top: 2rem;
}

.post-rating {
  margin-top: 2rem;
}

.burger-icon {
  max-width: 43px;
}

.sort-icon {
  @extend .glyphicon;
  position: relative;
}

.sort-icon.asc {
  @extend .glyphicon-chevron-up;
  top: 1px;
  left: -2px;
}

.sort-icon.desc {
  @extend .glyphicon-chevron-down;
  top: 4px;
  left: -3px;
}

.search-button {
  display: none;
}


@include media-breakpoint-up(sm) {
  .search-form {
    margin-left: auto;
  }

  .search-button {
    display: inline-block;
  }
  .burger-title {
    display: inline-block;
  }

  .post-details {
    margin-top: 0;
  }
}
